<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <container name="HsfContainer">
        <extension type="Interception"/>
        <register type="System.Data.Entity.DbContext,EntityFramework" mapTo="Hsf.EF.Model.HsfDBContext, Hsf.EF.Model" />
        <register type="Hsf.Bussiness.Interface.Ititle_itemsService,Hsf.Bussiness.Interface" mapTo="Hsf.Bussiness.Service.title_itemsService, Hsf.Bussiness.Service">
          <interceptor type="InterfaceInterceptor"/>
          <interceptionBehavior type="Hsf.Framework.LogBehavior, Hsf.Framework"/>
        </register>
      </container>
    </containers>
  </unity>
</configuration>