<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <container name="HsfContainer">
        <extension type="Interception"/>
        <register type="System.Data.Entity.DbContext,EntityFramework" mapTo="Hsf.EF.Model.HsfDBContext, Hsf.EF.Model" />
        <register type="Hsf.Bussiness.Interface.Ihsf_ownerService,Hsf.Bussiness.Interface" mapTo="Hsf.Bussiness.Service.hsf_ownerService, Hsf.Bussiness.Service"/>
        <register type="Hsf.Bussiness.Interface.Ihsf_outdeviceService,Hsf.Bussiness.Interface" mapTo="Hsf.Bussiness.Service.hsf_outdeviceService, Hsf.Bussiness.Service"/>
        <register type="Hsf.Bussiness.Interface.Ititle_itemsService,Hsf.Bussiness.Interface" mapTo="Hsf.Bussiness.Service.title_itemsService, Hsf.Bussiness.Service">
          <interceptor type="InterfaceInterceptor"/>
          <interceptionBehavior type="Hsf.Framework.AOP.LogBehavior, Hsf.Framework"/>
        </register>
        <register type="Hsf.Bussiness.Interface.IUserMenuService,Hsf.Bussiness.Interface" mapTo="Hsf.Bussiness.Service.UserMenuService, Hsf.Bussiness.Service">
          <interceptor type="InterfaceInterceptor"/>
          <interceptionBehavior type="Hsf.Framework.AOP.LogBehavior, Hsf.Framework"/>
          <lifetime type="transient" />
          <constructor>
            <param name="dbContext" type="System.Data.Entity.DbContext, EntityFramework"/>
            <param name="id" type="System.Int32, mscorlib" value="3"/>
          </constructor>
        </register>
      </container>
    </containers>
  </unity>
</configuration>